<%
  container_classes ||= ''
%>
<div id="<%= id %>" class="tabs-scrollable <%= container_classes %>" data-controller="utils--tab-scroll utils--tab-links">
  <div class="tab-scroll-container">
    <!-- Scrollable Tabs -->
    <div class="nav-tabs-wrapper <%= id %>" data-utils--tab-scroll-target="wrapper">
      <ul class="nav nav-tabs" role="tablist">
        <%= yield %>
      </ul>
    </div>

    <!-- Right-side Scroll Buttons -->
    <div class="d-flex gap-1 ms-3">
      <button type="button" class="btn btn-sm btn-outline-dark" data-action="utils--tab-scroll#scrollLeft"
              data-utils--tab-scroll-target="leftBtn">
        <i class="bi bi-chevron-left"></i>
        <span class="visually-hidden"><%= t('.button_tabs_scroll_left_label') %></span>
      </button>
      <button type="button" class="btn btn-sm btn-outline-dark" data-action="utils--tab-scroll#scrollRight"
              data-utils--tab-scroll-target="rightBtn">
        <i class="bi bi-chevron-right"></i>
        <span class="visually-hidden"><%= t('.button_tabs_scroll_right_label') %></span>
      </button>
    </div>
  </div>
</div>
