
<div class="container-md content mt-4">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="/pun/sys/ood/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a aria-current="page">Explore Dataverse</a>
      </li>
      <li class="breadcrumb-item">
        <a aria-current="page">Datasets</a>
      </li>
      <li class="breadcrumb-item active">
        <a aria-current="page"><%= @dataset.data.latest_version.dataset_persistent_id %></a>
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-3">
      <div class="card dataset-header">
        <div class="card-header">Dataset</div>
        <div class="list-group list-group-flush">
          <span class="list-group-item list-group-item-action">
            <b><%= @dataset.metadata_field('title') %></b>
          </span>
          <span class="list-group-item list-group-item-action">
            <%= @dataset.data.latest_version.dataset_persistent_id %>
          </span>
        </div>
      </div>
      <div class="card dataset-header">
        <div class="card-header">Description</div>
        <div class="list-group list-group-flush">
          <span class="list-group-item list-group-item-action">
            <%= @dataset.description %>
          </span>
        </div>
      </div>
      <div class="card dataset-header">
        <div class="card-header">Dataset Metadata</div>
        <div class="list-group list-group-flush">
          <span class="list-group-item list-group-item-action">
            <b>Publication date:</b> <%= @dataset.data.publication_date %>
          </span>
          <span class="list-group-item list-group-item-action">
            <b>Authors:</b> <%= @dataset.authors %>
          </span>
          <span class="list-group-item list-group-item-action">
            <b>Subjects:</b> <%= @dataset.subjects %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div>
        <%= form_with url: nil, method: :post, local: true, class: "p-4 border rounded bg-light" do %>
          <% @files.each do |file| %>
            <div class="row">
              <div class="col-md-12 mb-12">
                <div class="card h-100 shadow-sm">
                  <div class="card-body">
                    <div class="form-check mb-2">
                      <%= check_box_tag "file_ids[]", file.data_file.id, false, class: "form-check-input", id: "file_checkbox_#{file.data_file.id}"  %>
                      <label class="form-check-label fw-bold" for="file_checkbox_<%= file.data_file.id %>">
                        <%= file_thumbnail(@dataverse_metadata, file) %>
                        <%= file.label %>
                      </label>
                    </div>

                    <ul class="list-unstyled small text-muted">
                      <li><strong>Type:</strong> <%= file.data_file.friendly_type %></li>
                      <li><strong>Size:</strong> <%= number_to_human_size(file.data_file.filesize) %></li>
                      <li><strong>Published:</strong> <%= file.data_file.publication_date %></li>
                      <li><strong>MD5:</strong> <%= file.data_file.md5 %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="text-center mt-4">
            <%= submit_tag "Download Selected Files", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
